{% extends 'admin/base.html' %}

{% block admin_body %}
{% for location in locations %}
	<div class="admin-location-page-summary-element" >
		<span>{{ location.id }}</span>
		<span>{{ location.name }}</span>
		<span>{{ location.description }}</span>
		<span>{{ location.image }}</span>
		<span>{{ location.image_alt }}</span>
		<span>{{ location.lon }}</span>
		<span>{{ location.lat }}</span>
		<a href="/admin/locations/{{ location.name }}">Edit</a>
	</div>
{% endfor %}
<a href="/admin/locations/new">New location</a>
{% endblock %}
